<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Church - Geek na Veia</title>
    
        {LIBRARIES}
        {HEAD}
        
        <link href="app/templates/{template}/metisMenu/metisMenu.css" rel="stylesheet">
        <link href="app/templates/{template}/sb-admin-2.css" rel="stylesheet">
        <script src="app/templates/{template}/metisMenu/metisMenu.js"></script>
        <script src="app/templates/{template}/sb-admin-2.js"></script>
        
        <script type="text/javascript">
        $(function() {
            $('ul.level-2').addClass('in');
        });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">IEADB</span>
                </div>
                <!-- /.navbar-header -->
    
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                    
                    {MENU}
                    
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
    
            <div id="page-wrapper" style="padding-top: 20px">
                <div id='adianti_div_content'>
                </div>
            </div>
            <!-- /#page-wrapper -->
    
            <script type="text/javascript">
                //#javascript_placeholder#
            </script>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
        <!-- /#wrapper -->
    </body>
</html>