<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Church - Geek Code</title>
        
        {LIBRARIES}
        {HEAD}
        
        <link href="app/templates/{template}/metisMenu/metisMenu.css" rel="stylesheet">
        <link href="app/templates/{template}/sb-admin-2.css" rel="stylesheet">
        <script src="app/templates/{template}/metisMenu/metisMenu.js"></script>
        <script src="app/templates/{template}/sb-admin-2.js"></script>
        
        <script type="text/javascript">
        $(document).ready( function() {
           __adianti_load_page('engine.php?class=LoginForm');
        });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id='adianti_div_content'>
            </div>
    
            <script type="text/javascript">
                //#javascript_placeholder#
            </script>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
        <!-- /#wrapper -->
    </body>
</html>